body {background-image: url('./assets/background.png');
    background-repeat: repeat-x;
    background-size: 1000px;
    }

main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.container {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}