* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  height: 100vh;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  position: relative;
}


.points > p {
  color: black;
  font-weight: bolder;
}

#point {
  font-weight: 1300;
}

.memory-game {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  z-index: -1;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 5px;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

#won {
  visibility: hidden;
  border-radius: 10px;
  background: #ffffff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 5px solid #050505;
  background: #b1c1b1;
}

#won > h1,
#won p {
  font-weight: bolder;
}

#playAgain {
  border: 2px solid #000000;
  border-radius: 5px;
  background: #ffffff;
  
}

#playAgain:hover {
  background: #07c007;
}


@media (min-width: 992px) {
 
  .memory-game {
    width: 640px;
    height: 530px;
  }
  .front-face,
  .back-face {
    padding: 10px;
  }
  #won {
    padding: 50px;
  }
}

  







